In [28]:
import pandas as pd
import numpy as np

from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error as MSE
from xgboost import XGBRegressor

In [54]:
#misma tecnica que en los otros notebooks ; vamos cambiando los datasets y sacando las metricas para cada tramo de oficinas 
ofis= pd.read_csv(r"C:\Users\cfern\Desktop\ML Noya\oficinasBCN3.csv")
ofis.drop(["Unnamed: 0"],axis=1,inplace=True)

ofis

,ad_price,ad_area,ad_latitude,ad_longitude,censustract_id,ad_postalcode,ad_floornumber,ad_bathnumber,ad_haslift,ad_hasparkingspace,tamaños
0,23213,1451,41.397751,2.188906,801910043.0,8018.0,1,2,1,0,3
1,16000,1650,41.395914,2.139163,801905053.0,8021.0,0,0,0,0,3
2,8400,840,41.428945,2.185739,801909055.0,8027.0,3,0,1,0,3
3,72670,3116,41.399597,2.194923,801910042.0,8018.0,2,3,1,0,3
4,36301,1815,41.412205,2.207788,801910094.0,8019.0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...
772,20640,860,41.387631,2.132154,801904027.0,8028.0,10,2,1,0,3
773,26977,1383,41.405259,2.208130,801910076.0,8019.0,1,6,1,0,3
774,15818,958,41.409340,2.173941,801902042.0,8025.0,0,3,0,0,3
775,17256,960,41.409040,2.173941,801902042.0,8025.0,4,2,1,0,3
776,13296,831,41.394574,2.171910,801902076.0,8010.0,1,2,0,0,3

In [55]:
X_train, X_test, y_train, y_test = train_test_split(ofis.drop('ad_price', axis=1),
                                                    ofis['ad_price'],
                                                    test_size=0.2,
                                                    random_state=42)

In [56]:
xgb_reg = XGBRegressor()

# vamos a jugar con los parametros 
param_grid = {
    'n_estimators': [100, 200, 300],
    'learning_rate': [0.01, 0.1, 1],
    'max_depth': [2, 3, 4]
}

# hacemos nuestro grid con 5 trocitos 
grid_search = GridSearchCV(xgb_reg, param_grid=param_grid, cv=5)

# Entrenmos el modelo
grid_search.fit(X_train, y_train)

# obteenmos el mejor estimador 
best_xgb_reg = grid_search.best_estimator_

# lo usamos para predecir en test 
y_pred = best_xgb_reg.predict(X_test)

In [57]:
#sacamos la metrica 
mse = mean_squared_error(y_test, y_pred)
print("Mean squared error: ", mse)
rmse = np.sqrt(MSE(y_test, y_pred))
print("RMSE : % f" %(rmse))
r2 = r2_score(y_test, y_pred)
print("R2 score: ", r2)

Mean squared error:  46841122.47017503
RMSE :  6844.057457
R2 score:  0.9250526514659432